@import "tailwindcss";

@font-face {
  font-family: 'Arviner Heavy';
  src: url('./assets/fonts/Arviner-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* Custom class to hide scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;  
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }
  


